<mat-card class="bc" style="width: 100%; height: 100%">
  <mat-card>
    <button mat-raised-button color="primary" (click)="navigateToHome()"><mat-icon>arrow_back</mat-icon></button>
    <div>
      <h1 align="center"><strong>Ayuda y servicio técnico</strong></h1>
    </div>


    <h3 style="font-size: 20px"><strong>Preguntas frecuentes</strong></h3>
    <p style="color: blue">
      <br>
      No puedo ingresar sesión, ¿cómo puedo recuperar mis datos?
      <br>
      <br>
      ¿Cómo puedo borrar los datos erróneos ingresados a la tabla?
      <br>
      <br>
      No me aparece ningún dato en la tabla, ¿qué puedo hacer para solucionar este error?
      <br>
      <br>
      He puesto todos los datos dentro de la sección agregar pero no agrega, ¿qué puedo hacer?
      <br>
      <br>
    </p>
  </mat-card>
</mat-card>


