<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Librar&+</span>
    <span class="default-spacer"></span>
    <div class="opciones" align="right">
      <a mat-flat-button color="primary" routerLink="/letras" routerLinkActive="active">Home</a>
      <a mat-flat-button color="primary" routerLink="" routerLinkActive="active">Cerrar Sesion</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
