table {
  width: 100%;
}
tr.editable-row {
  background-color: lightcyan;
}

color-profile{
  color: blue;
}


.info {
  margin-top: 25px;
  margin-right: 75px;
  margin-left: 75px;
}


mat-form-field {
  width: 205px;
  margin-left: 15px;
  margin-right: 15px;
}

input:disabled{
  color   : #1A2740;

}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.titulo {
  : center;
}
